html, body {
  margin: 0 auto;
  text-align: center;
  background-color: #f5f3f4;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

h1, h2, h3 {
  color: #243373;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
#logo {
  height: 35vh;
  padding: 10px;
}

#social {
  margin-top: 30vh;
}

iframe {
  height: 100vh !important;
  width: 100% !important;
}
